/* 
    Ce fichier CSS ne sera utilisé que pour la page FAQ.
*/

details {
    --_active-bg-color:#db4;
    --_active-color:#fff;
    --_after-content-closed: "+";
    --_after-content-open: "-";
    --_bg-color: rgb(218,225,227);
    --_border-radius: 5px;
    --_content-padding: 1lh;
    --_gap:.5lh;
    --_hover-bg-color: #fe8;
    --_hover-color: #000;

    :has(+&){
        margin-bottom:var(--_gap);
    }

    >summary {
        background-color: var(--_bg-color);
        border-top-left-radius: var(--_border-radius);
        border-top-right-radius: var(--_border-radius);
        color: var(--_color);
        cursor: pointer;
        display: block;
        font-size: large;
        font-weight: 500;
        list-style: none;
        padding:var(--_gap);
        user-select: none;

        &:active {
            --_bg-color: var(--_active-bg-color);
            --_color: var(--_active-color);
        }

        &:hover {
            --_bg-color: var(--_hover-bg-color);
            --_color: var(--_hover-color);
        }

        &::before {
            display: inline-block;
            width:2ch;
            content: var(--_after-content-closed);
        }

        &:where([open]>&)::before{
            content: var(--_after-content-open);
        }

        /* Contenu */
        &~*{
            background-color: color-mix(in srgb, var(--_bg-color) 50%, white);
            margin: 0;
            padding:var(--_content-padding);
        }
    }
}