/* 
  @todo: use open props
  @todo: refactor css to be more DRY and atomic
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans');

/* Reset for wordpress */
figure{
  margin: 0;
}

@layer reset, theme, layout, components, utilities;

@layer reset {
  /* consistent baseline across browsers */

}

@layer theme {

  /* design tokens variables for colors, spacing, typography,.. */
  :root {
    font-family: system-ui;
    
    --color-primary: hsl(210, 69%, 68%);
    --color-secondary: hsl(224, 23%, 16%);
    --color-tertiary: hsl(0, 0%, 100%);
    --color-accent: color-mix(in srgb,var(--color-primary),var(--color-secondary) 90%);
    --color-alert: hsl(0, 100%, 50%);

    --transparency-percentage: 20%;

    --border: 1px solid color-mix(in srgb, var(--color-secondary) var(--transparency-percentage), transparent );

    --font-size-1: 1rem;
    --font-size-2: 1.25rem;
    --font-size-3: 1.5rem;
    --font-size-4: 2rem;
    --font-size-5: 2.5rem;
    --font-size-6: 3rem;
    --font-size-7: 4rem;
    --font-size-8: 5rem;
    --font-size-9: 6rem;
    --font-size-10: 7rem;

    --content-max-width: 1200px;
    --content-padding: max(calc((100vw - var(--content-max-width))/2), 1rem);

    --gap-1: 1rem;
    --gap-2: 2rem;
    --gap-3: 3rem;
    --gap-4: 4rem;
    --gap-5: 5rem;
    --gap-6: 6rem;
    --gap-7: 7rem;
    --gap-8: 8rem;
    --gap-9: 9rem;
    --gap-10: 10rem;
  }

  /* typography, colors, shadows, borders, etc. */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 100;
  }

  details{
    --_active-bg-color:#db4;
    --_active-color:#fff;
    --_after-content-closed: "+";
    --_after-content-open: "-";
    --_bg-color: rgb(218,225,227);
    --_border-radius: 5px;
    --_content-padding: 1lh;
    --_gap:.5lh;
    --_hover-bg-color: #fe8;
    --_hover-color: #000;
  }
}

@layer layout {
  /* layout patterns like grids, flex utilities, spacing wrappers. */
  body {
    display: grid;
    grid-template-rows: 
      [header secondary-nav] auto
      [header primary-nav] auto
      [main] 1fr
      [footer] auto;
    min-height: 100vh;
    margin: 0;
  }

  header {
    display: contents;
    grid-row: header;

    &,nav:nth-of-type(2) {
      position: sticky;
      top: 0;
      z-index: 1;
    }

    nav {
      &:nth-of-type(1) {
        grid-row: secondary-nav;
      }
      &:nth-of-type(2) {
        grid-row: primary-nav;
      }
    }
  }

  main {
    grid-row: main;
    isolation: isolate;
  }

  footer {
    grid-row: footer;
  }
}

@layer components {
  h4 {
    font-size: var(--font-size-2);
  }

  :link {
    &:not(:hover) {
      text-decoration: none;
    }
  }

  .cta-button {
    background-color: var(--color-primary);
    border-radius: 0.5rem;
    color: var(--color-tertiary);
    display: block;
    padding: var(--gap-1);
    text-align: center;
    text-decoration: none;
  }

  /* Details component (#34) */
  details {
    --_active-bg-color:#db4;
    --_active-color:#fff;
    --_after-content-closed: "+";
    --_after-content-open: "-";
    --_bg-color: rgb(218,225,227);
    --_border-radius: 5px;
    --_content-padding: 1lh;
    --_gap:.5lh;
    --_hover-bg-color: #fe8;
    --_hover-color: #000;

    :has(+&){
        margin-bottom:var(--_gap);
    }

    >summary {
        background-color: var(--_bg-color);
        border-top-left-radius: var(--_border-radius);
        border-top-right-radius: var(--_border-radius);
        color: var(--_color);
        cursor: pointer;
        display: block;
        font-size: large;
        font-weight: 500;
        list-style: none;
        padding:var(--_gap);
        user-select: none;

        &:active {
            --_bg-color: var(--_active-bg-color);
            --_color: var(--_active-color);
        }

        &:hover {
            --_bg-color: var(--_hover-bg-color);
            --_color: var(--_hover-color);
        }

        &::before {
            display: inline-block;
            width:2ch;
            content: var(--_after-content-closed);
        }

        &:where([open]>&)::before{
            content: var(--_after-content-open);
        }

        /* Contenu */
        &~*{
            background-color: color-mix(in srgb, var(--_bg-color) 50%, white);
            margin: 0;
            padding:var(--_content-padding);
        }
    }
}

  /* Sections */
  header {
    /*
    TODO: Improve the sticky header by automatically hiding the top bar when scrolling down and showing it again when scrolling up. See this example: https://codepen.io/fcalderan/pen/LYKwyyd (currently not working on Firefox)
    TODO: Make the nav more accessible by adding a skip link to the main content.
    TODO: Make the nav more accessible by improving keyboard navigation (will require some js).
    TODO: Make the nav more accessible by adding aria-labels to the links.
    TODO: Fix the hamburger menu (use a button instead of a link).
    */

    font-size: calc(1rem*3/4);

    /* Logo */
    img {
      height: 3lh;
    }

    nav {
      color: var(--color-tertiary);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-inline: var(--content-padding);

      /* Secondary nav */
      &:nth-of-type(1){
        text-align: center;
        background-color: var(--color-secondary);
        ul{
          justify-content: right;
          flex: 1;
          li{
            display: inline-flex;
            align-items: center;
            &:not(.bg-alert,:has(+.bg-alert)):after {
              content:"";
              height:1lh;
              width:1px;
              margin-inline: -.5px;
              background-color: var(--color-tertiary);
            }
          }
        }
      }

      /* Primary nav */
      &:nth-of-type(2){
        background-color: var(--color-primary);
        justify-content: center;
        ul {
          margin-trim: inline; /* Progressive enhancement: only work on safari for now */
          margin-inline-start: auto;
          justify-content: space-between;
        }
        li {
          --_nav-link-hover-color: var(--color-secondary);
          li {
            --_nav-link-hover-color: var(--color-tertiairy);
          }
        }
      }

      a {
        cursor:pointer;
        color: currentColor;
        display: inline-block;
        text-decoration: none;
        padding: var(--gap-1);
        &:not(nav>&){
          flex: 1;
        }
        &:hover{
          color:var(--_nav-link-hover-color);
          background-color: var(--hover-item-background);
        }
      }

      ul {
        list-style: none;
        display: flex;
        text-transform: uppercase;
        position: relative;
        margin: 0;
        padding: 0;

        li:has(ul){
          &:hover{
            --_after-color:var(--_nav-link-hover-color);
            >:has(+ul){
              color:var(--_nav-link-hover-color);
            }
          }
          >a::after {
            margin-left:1ch;
            content: "▼";
            color:var(--_after-color);
          }
        }

        ul {
          --hover-item-background: var(--color-accent);
          background-color: var(--color-secondary);
          display: none;
          position: absolute;

          li:where(:focus-within,:hover) & {
            display: block;
          }

          li{
            display: flex;
            text-align: left;
          }
        }
      }
    }

    @media(width<900px) {
      nav{
        --content-padding: 0;
        &:nth-of-type(1){
          li{
            flex:1;
            &:not(.bg-alert,:has(+.bg-alert)){
              display: none;
            }
          }
        }
        &:nth-of-type(2){
          >ul {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            position: relative;
    
            &:focus {
              background-color: var(--color-primary);
              inset: 0;
              position: fixed;
            }
    
            &:not(:focus)>* {
              display: none;
            }
    
            &:not(:focus):after {
              content: "☰";
              font-size: 2rem;
              padding: 1ch;
            }
          }
        }
      }
    }
  }

  .hero {
    container-type: inline-size;
    min-height: 70vh;

    h1 {
      font-size: var(--font-size-5);
      color: var(--color-tertiary);
      text-shadow: 12px 0px 24px rgba(0, 0, 0, 0.5);
      font-weight: 300;
    }

    background: url('https://www.blavier.be/wp-content/uploads/2025/01/blavier-home.jpg') center / cover no-repeat;
    display: flex;
    padding-inline: var(--content-padding);

    article {
      margin-left: auto;
      width: 33cqw;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      color: var(--color-tertiary);
      background-color:
        color-mix(in srgb,
          var(--color-secondary),
          transparent var(--transparency-percentage));
    }
  }

  .gallery {
    display: flex;
    gap: var(--gap-1);
    justify-content: center;
    margin-bottom: 3lh;
    margin-top: -3lh;
    padding-inline: var(--gap-1);

    article {
      background-color: var(--color-tertiary);
      border: var(--border);
      max-width: 30ch;
      position: relative;
      transition: scale 0.2s ease-in-out;

      &:has(p,h4){
        padding: var(--gap-1);
      }
      
      >figure{
        margin:0;
      }

      h4 {
        font-weight: bold;
        margin-top: 0;
      }

      &:hover {
        scale: 1.05;
      }

      >:link {
        font-size: 0;
        inset: 0;
        position: absolute;

        &:after {
          aspect-ratio: 1/1;
          background-color: var(--color-primary);
          bottom: 0;
          color: var(--color-tertiary);
          content: "+";
          display: inline-block;
          font-size: var(--gap-1);
          position: absolute;
          right: 0;
          text-align: center;
          width: 1lh;
        }
      }
    }
  }

  .services {
    background: url('https://www.blavier.be/wp-content/uploads/2021/10/blavier-home.jpg') center / cover no-repeat;
    display: grid;
    gap: var(--gap-3);
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding-inline: var(--content-padding);
    padding-block: var(--gap-3);

    article {
      &:hover {
        --transparency-percentage: 0%;
      }

      background-color: color-mix(in srgb, var(--color-primary), transparent var(--transparency-percentage));
      cursor:pointer;
      padding: 50px 80px;
      text-align: center;
      text-wrap: balance;
      transition: background-color 0.2s ease-in-out;

      h2 {
        font-size: var(--font-size-3);
        text-transform: uppercase;
        color: var(--color-tertiary);
      }
    }
  }

  .models {
    padding-inline: var(--content-padding);
    background-color: var(--color-secondary);
    color: var(--color-tertiary);
    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap:var(--gap-1);

      li{
        width: 100%;
      }

      article {
        width:100%;
        transition: scale 0.2s ease-in-out;
        &:hover{
          scale:1.05;
        }

        img {
          object-fit: cover;
          width:100%;
          height: 15lh;
        }

        img+p {
          margin: 0;
          color: var(--color-tertiairy);
          background-color: var(--color-primary);
          text-align: right;
          padding: .5lh;
        }

        footer {
          display: flex;
          justify-content: space-between;
          color: white;
          background-color:
            color-mix(in srgb,
              black 20%,
              var(--color-secondary));
          padding-inline: .5lh;

          span:first-child:after {
            content: "";
            display: inline-block;
            width: 1px;
            background-color: white;
            height: 1lh;
          }
        }
      }
    }

    h2 {
      padding: 1lh;
      text-align: center;
    }

    form {
      * {
        appearance: none;
      }

      display: flex;
      flex-wrap: wrap;
      gap:var(--gap-1);
      justify-content: center;

      select,button{
        cursor: pointer;
      }

      select,
      input {
        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%2375aee6' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right center/8px 10px;
        background-color: var(--color-secondary);
        border: 0;
        color: var(--color-tertiary);
        padding-right: 3ch;
        text-transform: uppercase;
      }

      fieldset {
        border: 0;
        padding: 0;
      }

      input {
        field-sizing: content;
      }

      input,
      button {
        background: unset;
        border: unset;
        color: var(--color-tertiary);
      }

      label,
      fieldset {
        border-bottom: solid 1px var(--color-primary);
      }

      button {
        background-color: var(--color-primary);
        padding: 1ch;
      }
    }

    .cta-button {
      background-color: var(--color-alert);
      width: fit-content;
      margin-inline: auto;
    }

    figure {
      align-items: center;
      justify-items: center;
      background-color: rgb(32 37 51);
      display: flex;
      flex-wrap: wrap;
      /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
      gap: var(--gap-4);
      padding-block: var(--gap-4);
      color: var(--color-tertiary);

      img {
        max-width: 32rem;
        min-width: 20vw;
      }

      figcaption {
        padding: var(--gap-2);
      }

      .cta-button {
        margin-left: 0;
      }
    }
  }

  .about {
    padding-inline: var(--content-padding);
    header {
      text-transform: uppercase;
      color: var(--color-secondary);
      background-color: var(--color-tertiary);
    }

    h3 {
      font-weight: bolder;
    }
  }

  footer {
    img {
      height: 4lh;
    }

    background-color: var(--color-secondary);
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    gap:var(--gap-2);

    ul {
      list-style: none;
      padding: 0;

      a {
        color: var(--color-tertiary);
        text-decoration: none;
      }
    }

    h3 {
      text-transform: uppercase;
    }
  }
}

@layer utilities {
  /* html:after{
    --_border-width:2pt;
    z-index: 1000;
    content:"";
    inset:0;
    position:fixed;
    outline:solid var(--_border-width) magenta;
    outline-offset: calc(var(--_border-width)*-1);
    pointer-events: none;
  } */
  .bg-alert {
    background-color: var(--color-alert);
  }

  [outline]{
    border: solid fuchsia 2px;
  }

  [isolate] {
    :has(>&)>*:not(&){display: none;}
  }
}